# Diabetes Risk Prediction
This project uses the Behavioral Risk Factor Surveillance System (BRFSS) survey data from [this link](https://www.cdc.gov/brfss/annual_data/annual_2024.html) to predict the probability of developing different types of Diabetes. Features about U.S. residents include demographic data (e.g. income level, education, race) as well as data regarding health-related risk behaviors, chronic health conditions, and use of preventive services.

This is the first notebook for the project, which parses the raw ASCII data file, available in the link above, to extract the relevant target and feature variables for subsequent EDA and modeling.

## Setup
### Define parameters

In [4]:
raw_data_url = "https://www.cdc.gov/brfss/annual_data/2024/files/LLCP2024ASC.zip"
data_dict_url = "https://www.cdc.gov/brfss/annual_data/2024/zip/codebook24_llcp-v2-508.zip"

### Import packages

In [5]:
import pandas as pd
from bs4 import BeautifulSoup
import re

### Define Functions

In [ ]:
def parse_brfss_dictionary(html_file):
    """
    Parse HTML data dictionary to extract both column definitions and value-to-label mappings
    in a single pass through the file.
    
    Parameters:
    -----------
    html_file : str
        Path to the HTML data dictionary file
    
    Returns:
    --------
    tuple : (column_lookup, codebook)
        - column_lookup: dict mapping variable labels to metadata
          Format: {label: {'column_range': str, 'type': str, 'sas_name': str}}
        - codebook: dict mapping SAS variable names to value-label mappings
          Format: {sas_variable_name: {value: label}}
    """
    with open(html_file, 'r', encoding='windows-1252') as f:
        soup = BeautifulSoup(f, 'html.parser')
    
    column_lookup = {}
    codebook = {}
    
    # Find all variable tables (one pass through HTML)
    tables = soup.find_all('table', {'class': 'table'})
    
    for table in tables:
        # Extract metadata from header cell
        metadata_cell = table.find('td', {'class': 'l m linecontent'})
        if not metadata_cell:
            continue
        
        metadata_text = metadata_cell.get_text()
        
        # Only process cells that contain variable definitions
        if 'Label:' not in metadata_text or 'Column:' not in metadata_text:
            continue
        
        # Extract label (between "Label:" and "Section Name:")
        # Note: HTML uses \xa0 (non-breaking spaces)
        label_match = re.search(r'Label:[\s\xa0]+(.+?)Section[\s\xa0]+Name:', metadata_text)
        
        # Extract column range (format: "N" or "N-M")
        column_match = re.search(r'Column:[\s\xa0]+(\d+(?:-\d+)?)', metadata_text)
        
        # Extract variable type (Num or Char)
        type_match = re.search(r'Type[\s\xa0]+of[\s\xa0]+Variable:[\s\xa0]+(Num|Char)', metadata_text)
        
        # Extract SAS variable name (stops before "Question")
        varname_match = re.search(r'SAS[\s\xa0]+Variable[\s\xa0]+Name:[\s\xa0]+(\w+?)(?=Question)', metadata_text)
        
        if not (label_match and column_match and varname_match):
            continue
        
        # Store column metadata
        label = label_match.group(1).strip().replace('\xa0', ' ')
        column_range = column_match.group(1)
        var_type = type_match.group(1) if type_match else None
        var_name = varname_match.group(1)
        
        column_lookup[label] = {
            'column_range': column_range,
            'type': var_type,
            'sas_name': var_name
        }
        
        # Calculate column width for this variable
        # This determines the zero-padding needed for values
        if '-' in column_range:
            start, end = map(int, column_range.split('-'))
            column_width = end - start + 1
        else:
            column_width = 1
        
        # Extract value-label mappings from table body
        tbody = table.find('tbody')
        if not tbody:
            continue
        
        value_labels = {}
        has_categorical_values = False
        has_range_values = False  # Track if this variable has any range values
        
        for row in tbody.find_all('tr'):
            cells = row.find_all('td')
            if len(cells) < 2:
                continue
            
            # Extract value (first column)
            value = cells[0].get_text(strip=True)
            
            # Check if this is a range value (e.g., "1 - 97", "100 - 999")
            # Range values indicate continuous/numeric variables
            if ' - ' in value:
                has_range_values = True
                continue  # Skip adding ranges to the codebook
            
            # Extract label (second column)
            label_html = cells[1]
            
            # Get text and split by line breaks to separate notes
            label_text = label_html.get_text(separator='|')
            label_parts = label_text.split('|')
            
            # Take first part (before notes)
            value_label = label_parts[0].strip()
            
            # Clean skip logic (remove "→Go to..." instructions)
            value_label = re.sub(r'→Go to.*$', '', value_label).strip()
            
            # Check if this is a categorical value (not just special codes)
            # Special codes: HIDDEN, BLANK, and codes like 7/9/77/99/777/999
            is_special = value in ['HIDDEN', 'BLANK'] or re.match(r'^[79]+$', value)
            if not is_special:
                has_categorical_values = True
            
            # Pad numeric values to match the column width in the ASCII file
            # This ensures codebook values match the fixed-width format
            if value.isdigit() and len(value) < column_width:
                value_padded = value.zfill(column_width)
            else:
                value_padded = value
            
            # Store mapping with properly padded value
            value_labels[value_padded] = value_label
        
        # Only add to codebook if:
        # 1. Has meaningful categorical values (not just HIDDEN/BLANK/special codes)
        # 2. Does NOT have any range values (which indicate continuous variables)
        # Variables with ranges (like _DRNKWK3, SSBSUGR2) should remain numeric
        if value_labels and has_categorical_values and not has_range_values:
            codebook[var_name] = value_labels
    
    print(f"Successfully parsed {len(column_lookup)} variable definitions and {len(codebook)} value label mappings from HTML dictionary")
    return column_lookup, codebook


def apply_value_labels(df, codebook, columns_to_label=None):
    """
    Apply value-to-label mappings to DataFrame columns.
    
    Parameters:
    -----------
    df : pd.DataFrame
        DataFrame with numeric/coded values
    codebook : dict
        Value label mappings from parse_brfss_dictionary()
    columns_to_label : list, optional
        Specific columns to label. If None, attempts to label all columns.
    
    Returns:
    --------
    pd.DataFrame : DataFrame with values replaced by labels
    """
    df_labeled = df.copy()
    
    if columns_to_label is None:
        columns_to_label = df.columns
    
    labeled_count = 0
    skipped_vars = []
    
    for col in columns_to_label:
        # Check if column has value labels in codebook
        if col not in codebook:
            continue
        
        value_map = codebook[col]
        
        # Test mapping on a sample to see if it's appropriate
        # If less than 50% of non-null values can be mapped, skip this variable
        # (it's likely a continuous variable or identifier)
        sample = df[col].dropna().head(1000)
        if len(sample) > 0:
            test_mapped = sample.astype(str).str.strip().map(value_map)
            mapping_success_rate = test_mapped.notna().sum() / len(sample)
            
            if mapping_success_rate < 0.5:
                skipped_vars.append(f"{col} ({mapping_success_rate:.1%} mappable)")
                continue
        
        # Apply mapping
        df_labeled[col] = df[col].astype(str).str.strip().map(value_map)
        
        # Count how many values were successfully mapped
        mapped = df_labeled[col].notna().sum()
        if mapped > 0:
            labeled_count += 1
            print(f"  Labeled {col}: {mapped:,} / {df[col].notna().sum():,} values ({mapped/df[col].notna().sum()*100:.1f}%)")
    
    if skipped_vars:
        print(f"\n  Skipped (continuous/identifier): {', '.join(skipped_vars)}")
    
    print(f"\nSuccessfully labeled {labeled_count} columns")
    return df_labeled

## Download data
### Raw data ASCII file

In [5]:
!wget {raw_data_url}

--2025-11-04 23:15:44--  https://www.cdc.gov/brfss/annual_data/2024/files/LLCP2024ASC.zip
Resolving www.cdc.gov (www.cdc.gov)... 23.6.96.221, 2600:1409:9800:1a88::2461, 2600:1409:9800:1a82::2461
Connecting to www.cdc.gov (www.cdc.gov)|23.6.96.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 53411907 (51M) [application/x-zip-compressed]
Saving to: ‘LLCP2024ASC.zip.1’

LLCP2024ASC.zip.1   100%[===================>]  50.94M  42.9MB/s    in 1.2s

2025-11-04 23:15:45 (42.9 MB/s) - ‘LLCP2024ASC.zip.1’ saved [53411907/53411907]

In [6]:
asc_zip = !ls LLCP2024ASC*.zip

In [7]:
asc_file = !ls LLCP2024*.ASC*
asc_file = asc_file[0]

### Data dictionary file (HTML)

In [23]:
!wget {data_dict_url}

--2025-11-04 23:39:22--  https://www.cdc.gov/brfss/annual_data/2024/zip/codebook24_llcp-v2-508.zip
Resolving www.cdc.gov (www.cdc.gov)... 23.6.96.221, 2600:1409:9800:1a82::2461, 2600:1409:9800:1a88::2461
Connecting to www.cdc.gov (www.cdc.gov)|23.6.96.221|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 71439 (70K) [application/x-zip-compressed]
Saving to: ‘codebook24_llcp-v2-508.zip’

codebook24_llcp-v2- 100%[===================>]  69.76K  --.-KB/s    in 0.02s

2025-11-04 23:39:27 (3.56 MB/s) - ‘codebook24_llcp-v2-508.zip’ saved [71439/71439]

In [24]:
dict_zip = !ls codebook24_llcp*.zip

In [26]:
!unzip {dict_zip[0]}

Archive:  codebook24_llcp-v2-508.zip
  inflating: USCODE24_LLCP_082125.HTML

In [8]:
html_file = !ls USCODE24_LLCP*.HTML
html_file = html_file[0]

## Parse data

In [13]:
# Step 1: Define columns you want to extract (using labels from HTML)
# To add more columns, simply add their labels to this list
columns_to_extract = [
    "State FIPS Code",
    "Annual Sequence Number",
    "(Ever told) you had diabetes",
    "Ever been told by a doctor or other health professional that you have pre-diabetes or borderline diabetes?",
    "What type of diabetes do you have?",
    "Urban/Rural Status",
    "Reported age in five-year age categories calculated variable",
    "Sex of Respondent",
    "Computed Race-Ethnicity grouping",
    "Education Level",
    "Income Level",
    "Have Personal Health Care Provider?",
    "Could Not Afford To See Doctor",
    "Computed Weight in Kilograms",
    "Computed Height in Meters",
    "Computed body mass index",
    "Exercise in Past 30 Days",
    "How often did you drink regular soda or pop that contains sugar?",
    "How often did you drink sugar-sweetened drinks?",
    "Computed Smoking Status",
    "Computed number of drinks of alcohol beverages per week",
    "General Health",
    "Ever Diagnosed with Heart Attack",
    "Ever Diagnosed with Angina or Coronary Heart Disease",
    "Ever Diagnosed with a Stroke",
    "Ever told you have kidney disease?",
    "Ever Told Had Asthma",
    "(Ever told) you had a depressive disorder",
    "Told Had Arthritis"
]

# Step 2: Parse HTML data dictionary (single pass for both metadata and value labels)
print("Parsing HTML data dictionary...")
column_lookup, codebook = parse_brfss_dictionary(html_file)

# Step 3: Convert labels to colspecs for pd.read_fwf()
colspecs = []
column_names = []
dtypes = {}

print("\nMapping columns:")
for label in columns_to_extract:
    if label in column_lookup:
        col_info = column_lookup[label]
        col_range = col_info['column_range']
        
        # Parse "1-2" or "149" format
        if '-' in col_range:
            start, end = map(int, col_range.split('-'))
        else:
            start = end = int(col_range)
        
        # Convert to 0-based indexing for Python
        colspecs.append((start - 1, end))
        
        # Use SAS variable name for column name (to match codebook keys)
        col_name = col_info['sas_name']
        column_names.append(col_name)
        
        # Set dtype (start with string for safety, can convert later)
        dtypes[col_name] = str
        
        print(f"  {label} -> {col_name} (columns {col_range})")
    else:
        print(f"  WARNING: '{label}' not found in data dictionary")

print(f"\nPrepared to extract {len(colspecs)} columns from ASCII file")

# Step 4: Read the ASCII file using pd.read_fwf()
print(f"\nReading ASCII file: {asc_file}")
df = pd.read_fwf(
    asc_file, 
    colspecs=colspecs,
    names=column_names,
    dtype=dtypes,
    encoding='ascii'
)

print(f"Successfully loaded {len(df):,} rows and {len(df.columns)} columns")

# Step 5: Apply value labels to DataFrame
print("\nApplying value labels to DataFrame...")
df = apply_value_labels(df, codebook)

# Step 6: Display results
print("\nFirst 5 rows:")
display(df.head())

print("\nDataset info:")
print(df.info())

print("\nColumn value counts:")
for col in df.columns:
    print(f"\n{col}:")
    print(df[col].value_counts().head(10))

Parsing HTML data dictionary...
Successfully parsed 291 variable definitions and 270 value label mappings from HTML dictionary

Mapping columns:
  State FIPS Code -> _STATE (columns 1-2)
  Annual Sequence Number -> SEQNO (columns 36-45)
  (Ever told) you had diabetes -> DIABETE4 (columns 149)
  Ever been told by a doctor or other health professional that you have pre-diabetes or borderline diabetes? -> PREDIAB2 (columns 285)
  What type of diabetes do you have? -> DIABTYPE (columns 286)
  Urban/Rural Status -> _URBSTAT (columns 1403)
  Reported age in five-year age categories calculated variable -> _AGEG5YR (columns 1977-1978)
  Sex of Respondent -> SEXVAR (columns 88)
  Computed Race-Ethnicity grouping -> _RACE (columns 1972)
  Education Level -> EDUCA (columns 187)
  Income Level -> INCOME3 (columns 204-205)
  Have Personal Health Care Provider? -> PERSDOC3 (columns 110)
  Could Not Afford To See Doctor -> MEDCOST1 (columns 111)
  Computed Weight in Kilograms -> WTKG3 (columns 1989-1993)
  Computed Height in Meters -> HTM4 (columns 1986-1988)
  Computed body mass index -> _BMI5 (columns 1994-1997)
  Exercise in Past 30 Days -> EXERANY2 (columns 113)
  How often did you drink regular soda or pop that contains sugar? -> SSBSUGR2 (columns 373-375)
  How often did you drink sugar-sweetened drinks? -> SSBFRUT3 (columns 376-378)
  Computed Smoking Status -> _SMOKER3 (columns 2019)
  Computed number of drinks of alcohol beverages per week -> _DRNKWK3 (columns 2052-2056)
  General Health -> GENHLTH (columns 101)
  Ever Diagnosed with Heart Attack -> CVDINFR4 (columns 138)
  Ever Diagnosed with Angina or Coronary Heart Disease -> CVDCRHD4 (columns 139)
  Ever Diagnosed with a Stroke -> CVDSTRK3 (columns 140)
  Ever told you have kidney disease? -> CHCKDNY2 (columns 147)
  Ever Told Had Asthma -> ASTHMA3 (columns 141)
  (Ever told) you had a depressive disorder -> ADDEPEV3 (columns 146)
  Told Had Arthritis -> HAVARTH4 (columns 148)

Prepared to extract 29 columns from ASCII file

Reading ASCII file: LLCP2024.ASC
Successfully loaded 457,670 rows and 29 columns

Applying value labels to DataFrame...
  Labeled _STATE: 457,670 / 457,670 values (100.0%)
  Labeled DIABETE4: 457,666 / 457,666 values (100.0%)
  Labeled PREDIAB2: 159,195 / 159,195 values (100.0%)
  Labeled DIABTYPE: 13,818 / 13,818 values (100.0%)
  Labeled _URBSTAT: 443,047 / 443,047 values (100.0%)
  Labeled _AGEG5YR: 457,670 / 457,670 values (100.0%)
  Labeled SEXVAR: 457,670 / 457,670 values (100.0%)
  Labeled _RACE: 457,670 / 457,670 values (100.0%)
  Labeled EDUCA: 457,663 / 457,663 values (100.0%)
  Labeled INCOME3: 448,401 / 448,401 values (100.0%)
  Labeled PERSDOC3: 457,667 / 457,667 values (100.0%)
  Labeled MEDCOST1: 457,664 / 457,664 values (100.0%)
  Labeled EXERANY2: 457,667 / 457,667 values (100.0%)
  Labeled SSBSUGR2: 54,446 / 115,602 values (47.1%)
  Labeled SSBFRUT3: 65,859 / 115,316 values (57.1%)
  Labeled _SMOKER3: 457,670 / 457,670 values (100.0%)
  Labeled _DRNKWK3: 250,369 / 457,670 values (54.7%)
  Labeled GENHLTH: 457,665 / 457,665 values (100.0%)
  Labeled CVDINFR4: 457,668 / 457,668 values (100.0%)
  Labeled CVDCRHD4: 457,667 / 457,667 values (100.0%)
  Labeled CVDSTRK3: 457,667 / 457,667 values (100.0%)
  Labeled CHCKDNY2: 457,664 / 457,664 values (100.0%)
  Labeled ASTHMA3: 457,667 / 457,667 values (100.0%)
  Labeled ADDEPEV3: 457,665 / 457,665 values (100.0%)
  Labeled HAVARTH4: 457,665 / 457,665 values (100.0%)

Successfully labeled 25 columns

First 5 rows:

,_STATE,SEQNO,DIABETE4,PREDIAB2,DIABTYPE,_URBSTAT,_AGEG5YR,SEXVAR,_RACE,EDUCA,...,_SMOKER3,_DRNKWK3,GENHLTH,CVDINFR4,CVDCRHD4,CVDSTRK3,CHCKDNY2,ASTHMA3,ADDEPEV3,HAVARTH4
0,Alabama,2024000001,Noï¿½Go to Section 07.01 AGE,NaN,NaN,"Urban counties (_URBNRRL = 1,2,3,4,5)",Age 75 to 79,Femaleï¿½Code=2 if LANDSEX3=2 or CELLSEX3=2,"White only, non-Hispanic",Grade 12 or GED (High school graduate),...,Never smoked,Did not drink,Good,No,No,No,No,Noï¿½Go to Section 06.06 CHCSCNC1,No,Yes
1,Alabama,2024000002,Noï¿½Go to Section 07.01 AGE,NaN,NaN,"Urban counties (_URBNRRL = 1,2,3,4,5)",Age 80 or older,Maleï¿½Code=1 if LANDSEX3=1 or CELLSEX3=1,"White only, non-Hispanic",College 4 years or more (College graduate),...,Former smoker,Did not drink,Excellent,No,Yes,No,No,Noï¿½Go to Section 06.06 CHCSCNC1,No,Yes
2,Alabama,2024000003,Noï¿½Go to Section 07.01 AGE,NaN,NaN,"Urban counties (_URBNRRL = 1,2,3,4,5)",Age 55 to 59,Maleï¿½Code=1 if LANDSEX3=1 or CELLSEX3=1,"White only, non-Hispanic",College 1 year to 3 years (Some college or tec...,...,Current smoker - now smokes every day,NaN,Very good,No,No,No,No,Noï¿½Go to Section 06.06 CHCSCNC1,No,Yes
3,Alabama,2024000004,Noï¿½Go to Section 07.01 AGE,NaN,NaN,"Urban counties (_URBNRRL = 1,2,3,4,5)",Age 80 or older,Maleï¿½Code=1 if LANDSEX3=1 or CELLSEX3=1,"White only, non-Hispanic",College 4 years or more (College graduate),...,Never smoked,Did not drink,Excellent,No,No,No,No,Noï¿½Go to Section 06.06 CHCSCNC1,No,Yes
4,Alabama,2024000005,Noï¿½Go to Section 07.01 AGE,NaN,NaN,"Urban counties (_URBNRRL = 1,2,3,4,5)",Age 45 to 49,Maleï¿½Code=1 if LANDSEX3=1 or CELLSEX3=1,"White only, non-Hispanic",College 1 year to 3 years (Some college or tec...,...,Never smoked,Did not drink,Good,No,No,No,No,Noï¿½Go to Section 06.06 CHCSCNC1,No,No

Dataset info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 457670 entries, 0 to 457669
Data columns (total 29 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   _STATE    457670 non-null  object
 1   SEQNO     457670 non-null  object
 2   DIABETE4  457666 non-null  object
 3   PREDIAB2  159195 non-null  object
 4   DIABTYPE  13818 non-null   object
 5   _URBSTAT  443047 non-null  object
 6   _AGEG5YR  457670 non-null  object
 7   SEXVAR    457670 non-null  object
 8   _RACE     457670 non-null  object
 9   EDUCA     457663 non-null  object
 10  INCOME3   448401 non-null  object
 11  PERSDOC3  457667 non-null  object
 12  MEDCOST1  457664 non-null  object
 13  WTKG3     421278 non-null  object
 14  HTM4      433610 non-null  object
 15  _BMI5     414633 non-null  object
 16  EXERANY2  457667 non-null  object
 17  SSBSUGR2  54446 non-null   object
 18  SSBFRUT3  65859 non-null   object
 19  _SMOKER3  457670 non-null  object
 20  _DRNKWK3  250369 non-null  object
 21  GENHLTH   457665 non-null  object
 22  CVDINFR4  457668 non-null  object
 23  CVDCRHD4  457667 non-null  object
 24  CVDSTRK3  457667 non-null  object
 25  CHCKDNY2  457664 non-null  object
 26  ASTHMA3   457667 non-null  object
 27  ADDEPEV3  457665 non-null  object
 28  HAVARTH4  457665 non-null  object
dtypes: object(29)
memory usage: 101.3+ MB
None

Column value counts:

_STATE:
_STATE
New York      43913
Washington    25800
Minnesota     15199
Maryland      14462
Wisconsin     13096
Florida       13086
Indiana       13050
Utah          12782
Nebraska      12671
Texas         12291
Name: count, dtype: int64

SEQNO:
SEQNO
2024000038    53
2024000032    53
2024000001    53
2024000002    53
2024000003    53
2024000004    53
2024000009    53
2024000010    53
2024000011    53
2024000012    53
Name: count, dtype: int64

DIABETE4:
DIABETE4
Noï¿½Go to Section 07.01 AGE                                            376125
Yes                                                                      65809
No, pre-diabetes or borderline diabetesï¿½Go to Section 07.01 AGE        11307
Yes, but female told only during pregnancyï¿½Go to Section 07.01 AGE      3395
Donï¿½t know/Not Sureï¿½Go to Section 07.01 AGE                            798
Refusedï¿½Go to Section 07.01 AGE                                          232
Name: count, dtype: int64

PREDIAB2:
PREDIAB2
No                       131009
Yes                       25796
Yes, during pregnancy      1548
Donï¿½t know/Not Sure       722
Refused                     120
Name: count, dtype: int64

DIABTYPE:
DIABTYPE
Type 2                   11301
Donï¿½t know/Not Sure     1243
Type 1                    1236
Refused                     38
Name: count, dtype: int64

_URBSTAT:
_URBSTAT
Urban counties (_URBNRRL = 1,2,3,4,5)    383253
Rural counties (_URBNRRL = 6)             59794
Name: count, dtype: int64

_AGEG5YR:
_AGEG5YR
Age 65 to 69       47701
Age 70 to 74       44774
Age 60 to 64       43387
Age 80 or older    41756
Age 75 to 79       36803
Age 55 to 59       34936
Age 50 to 54       31698
Age 40 to 44       30899
Age 18 to 24       29692
Age 45 to 49       28968
Name: count, dtype: int64

SEXVAR:
SEXVAR
Femaleï¿½Code=2 if LANDSEX3=2 or CELLSEX3=2    240183
Maleï¿½Code=1 if LANDSEX3=1 or CELLSEX3=1      217487
Name: count, dtype: int64

_RACE:
_RACE
White only, non-Hispanic                                        329346
Hispanic                                                         48646
Black only, non-Hispanic                                         35172
Asian only, non-Hispanic                                         12646
Multiracial, non-Hispanic                                        10486
Donï¿½t know/Not sure/Refused                                     9103
American Indian or Alaskan Native only, Non-Hispanic              6460
Other race only, non-Hispanic                                     3737
Native Hawaiian or other Pacific Islander only, Non-Hispanic      2074
Name: count, dtype: int64

EDUCA:
EDUCA
College 4 years or more (College graduate)                      191549
College 1 year to 3 years (Some college or technical school)    120732
Grade 12 or GED (High school graduate)                          115877
Grades 9 through 11 (Some high school)                           17200
Grades 1 through 8 (Elementary)                                   9226
Refused                                                           2356
Never attended school or only kindergarten                         723
Name: count, dtype: int64

INCOME3:
INCOME3
Less than $75,000 ($50,000 to < $75,000)       60709
Less than $150,000 ($100,000 to < $150,000)    55778
Less than $100,000 ($75,000 to < $100,000)     51700
Less than $50,000 ($35,000 to < $50,000)       49686
Less than $35,000 ($25,000 to < $35,000)       41702
Refused                                        41041
Donï¿½t know/Not sure                          37113
$200,000 or more                               29694
Less than $200,000 ($150,000 to < $200,000)    26675
Less than $25,000 ($20,000 to < $25,000)       19841
Name: count, dtype: int64

PERSDOC3:
PERSDOC3
Yes, only one            242393
More than one            154558
No                        56106
Donï¿½t know/Not Sure      3446
Refused                    1164
Name: count, dtype: int64

MEDCOST1:
MEDCOST1
No                       412634
Yes                       43363
Donï¿½t know/Not sure      1229
Refused                     438
Name: count, dtype: int64

WTKG3:
WTKG3
09072    22131
08165    20305
06804    17972
07257    17747
07711    16674
08618    14759
06350    13214
07938    12062
09979    11375
07484    11303
Name: count, dtype: int64

HTM4:
HTM4
168    37894
163    36300
170    34821
165    33649
178    33270
173    31992
175    30790
160    29720
183    29707
157    28003
Name: count, dtype: int64

_BMI5:
_BMI5
2663    4428
2744    3378
2746    3364
2441    3300
2712    3167
2510    2768
3228    2476
2870    2389
2953    2387
2929    2335
Name: count, dtype: int64

EXERANY2:
EXERANY2
Yes                      350061
No                       106294
Donï¿½t know/Not Sure       860
Refused                     452
Name: count, dtype: int64

SSBSUGR2:
SSBSUGR2
Never                    53299
Donï¿½t know/Not sure      904
Refused                    243
Name: count, dtype: int64

SSBFRUT3:
SSBFRUT3
Never                    64636
Donï¿½t know/Not sure      974
Refused                    249
Name: count, dtype: int64

_SMOKER3:
_SMOKER3
Never smoked                             258956
Former smoker                            119598
Current smoker - now smokes every day     33118
Donï¿½t know/Refused/Missing              32022
Current smoker - now smokes some days     13976
Name: count, dtype: int64

_DRNKWK3:
_DRNKWK3
Did not drink                            203671
Donï¿½t know/Not sure/Refused/Missing     46698
Name: count, dtype: int64

GENHLTH:
GENHLTH
Good                     156229
Very good                145791
Fair                      67919
Excellent                 64217
Poor                      22204
Donï¿½t know/Not Sure       915
Refused                     390
Name: count, dtype: int64

CVDINFR4:
CVDINFR4
No                       427883
Yes                       26672
Donï¿½t know/Not sure      2857
Refused                     256
Name: count, dtype: int64

CVDCRHD4:
CVDCRHD4
No                       424581
Yes                       28511
Donï¿½t know/Not sure      4297
Refused                     278
Name: count, dtype: int64

CVDSTRK3:
CVDSTRK3
No                       435557
Yes                       20661
Donï¿½t know/Not sure      1244
Refused                     205
Name: count, dtype: int64

CHCKDNY2:
CHCKDNY2
No                         431939
Yes                         23752
Donï¿½t know / Not sure      1715
Refused                       258
Name: count, dtype: int64

ASTHMA3:
ASTHMA3
Noï¿½Go to Section 06.06 CHCSCNC1                       383772
Yes                                                      72037
Donï¿½t know/Not Sureï¿½Go to Section 06.06 CHCSCNC1      1650
Refusedï¿½Go to Section 06.06 CHCSCNC1                     208
Name: count, dtype: int64

ADDEPEV3:
ADDEPEV3
No                       358881
Yes                       96125
Donï¿½t know/Not sure      2066
Refused                     593
Name: count, dtype: int64

HAVARTH4:
HAVARTH4
No                       296778
Yes                      158319
Donï¿½t know/Not Sure      2273
Refused                     295
Name: count, dtype: int64

In [37]:
len(df) == len(df.drop_duplicates(subset=['_STATE', 'SEQNO']))

True

In [ ]:
# Column labels that are potential target variables for diabetes risk
target_col = "DIABETE4"

In [ ]:
feature_labels = [
    "Urban/Rural Status",
    "Reported age in five-year age categories calculated variable",
    "Sex of Respondent",
    "Computed Race-Ethnicity grouping",
    "Education Level",
    "Income Level",
    "Have Personal Health Care Provider?",
    "Could Not Afford To See Doctor",
    "Computed Weight in Kilograms",
    "Computed Height in Meters",
    "Computed body mass index",
    "Exercise in Past 30 Days",
    "How often did you drink regular soda or pop that contains sugar?",
    "How often did you drink sugar-sweetened drinks?",
    "Computed Smoking Status",
    "Computed number of drinks of alcohol beverages per week",
    "General Health",
    "Ever Diagnosed with Heart Attack",
    "Ever Diagnosed with Angina or Coronary Heart Disease",
    "Ever Diagnosed with a Stroke",
    "Ever told you have kidney disease?",
    "Ever Told Had Asthma",
    "(Ever told) you had a depressive disorder",
    "Told Had Arthritis"
]

In [14]:
codebook['_DRNKWK3']

{'00000': 'Did not drink', '99900': 'Donï¿½t know/Not sure/Refused/Missing'}